html, body {
  width: 100%;
  overflow-x: hidden;
  margin: 0;
  padding: 0;
}


ul {
  list-style: circle;
  padding-left: 2.5rem;
}

p {
  margin-bottom: 1rem;
}

p + p {
  margin-top: 2.5rem;
}

h5 {
  margin-bottom: 0.5rem;
  margin-top: 2.5rem;
}

a {
  color: #d22436;
}